/* MAIN CONTAINER */

.auth-container {
  display: flex;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

/* LEFT SIDE */

.auth-left {
  flex: 1;
  background: linear-gradient(135deg, #1e3a8a, #38bdf8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.auth-left h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.auth-left p {
  font-size: 18px;
  color: #e0f2fe;
}

/* RIGHT SIDE */

.auth-right {
  flex: 1;
  background: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FORM BOX */

.auth-box {
  width: 350px;
  background: white;
  padding:32px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 40px rgba(15,23,42,.08);
  text-align: center;
}

/* TITLE */

.auth-box h2 {
  margin-bottom: 20px;
  color: #1e3a8a;
}

/* INPUTS */

.auth-box input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #cbd5f5;
  outline: none;
  transition: 0.3s;
}

.auth-box input:focus {
  border-color: #38bdf8;
  box-shadow: 0 0 0 3px rgba(56, 189, 248, 0.15);
}

/* BUTTON */

.auth-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #38bdf8, #2563eb);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.auth-box button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(56,189,248,0.4);
}

.auth-box button:disabled {
  cursor: not-allowed;
  opacity: .8;
}


/* TOGGLE */

.toggle-text {
  margin-top: 15px;
  font-size: 12px;
}

.toggle-text span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 600;
}

.auth-error {
  color: #dc2626;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 550;
}

/* Google wrapper */
.google-wrapper{
    width:100%;
    display:flex;
    justify-content:center;
    margin:18px 0;
    margin-bottom:20px;
}

/* Privacy and Terms */
.auth-terms {
  margin-top: 18px;
  font-size: 10px;
  color: #6b7280;
  text-align: center;
  line-height: 1.5;
}

.auth-terms span {
  color: #2563eb;
  cursor: pointer;
  font-weight: 500;
}

.auth-terms span:hover {
  text-decoration: underline;
}

/* Auth Divider */
.auth-divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.auth-divider::before,
.auth-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: #e5e7eb;
}

.auth-divider span {
  margin: 0 12px;
  color: #6b7280;
  font-size: 13px;
  font-weight: 500;
}

@media (max-width:768px){

.auth-container{
    flex-direction:column;
}

.auth-left{
    display:none;
}

.auth-box{
    width:90%;
    padding:30px;
}

}